/*
 * $RCSfile$
 *
 * $Author$
 * $Date$
 *
 * $Revision$
 */

html body {
    	background-color: white;
	color: black;
	font-size: small;
	font-family: Arial, Helvetica, sans-serif;
}

.title {
	font-size: medium;
	font-weight: bold;
	visibility: visible;
	font-family: Arial, Helvetica, sans-serif;
}

/*
.title {
	font-size: large;
	font-weight: bold;
	visibility: visible;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
}
*/

.message {
	visibility: visible;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
}

.date {
	font-family: Courier monospaced;
	font-size: x-small;
	font-family: Arial, Helvetica, sans-serif;
	color: gray;
	visibility: visible; /* Change to 'collapse' or 'hidden' to hide */
	display: inline;
}

.tag {
	color: blue;
	visibility: collapse; 
	display: inline;
}

.to {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	color: darkblue;
	visibility: visible;
	display: inline;
}

.from {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	color: darkgreen;
	visibility: visible;
	display: inline;
}

.subject {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	visibility: visible;
	display: inline;
}

.body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	visibility: visible;
	display: inline;
}
